<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MATTHEW VEEDER - WEB DEV</title>
</head>

<div class="loader-box">
  <div class="circle circle1 pos1"></div>
  <div class="circle circle2 pos2"></div>
  <div class="circle circle3 pos3"></div>
</div>
<div class="loader-box loading">
  <div class="loader-upper">
      <div class="button-text">LOADING</div>
    </div>
    <div class="loader-lower">
      <div class="button-text">WELCOME</div>
    </div>
</div>
</html>
