<!DOCTYPE html>
<div class="nav-circle">
  <div class="nav-bar nav-bar1"></div>
  <div class="nav-bar nav-bar2"></div>
</div>
<div class="nav-circle-box">
  <div class="nav-circle-box-text">
    BACK TO TOP <stronger>^</stronger>
  </div>
</div>
<div class="projects-appended-main">
  <div class="projects-container">
    <h1>SAMPLES OF PREVIOUS WORK</h1>
    <br />
    <br />
    <br />
    <br />
    <a href="www.mveed.github.io" target="_blank">
      <div class="projects-container-row" id="project-row0">
        <div class="projects-row-image project-row0">
          <img src="img/old_portfolio.png" />
        </div>
        <div class="projects-row-text project-row0">
          <h4>PORTFOLIO</h4>
          <br />
          <br />
          <h5>An older version of my portfolio to showcase skills I had developed up to that point.
          <br />
          <br />
          A straightforward single-page portfolio developed with HTML, CSS, JS, and jQuery.</h5>
        </div>
      </div>
    </a>
    <div class="projects-container-row" id="project-row1">
      <div class="projects-row-image project-row1">
        <img src="img/bootstrap.png" />
      </div>
      <div class="projects-row-text project-row1">
        <h4>BOOTSTRAP</h4>
        <br />
        <br />
        <h5>A quick concept test to learn and experiment with Bootstrap.
        <br />
        <br />
        Focused landed page site, used to explore Bootstrap's reponsive framework.</h5>
      </div>
    </div>
    <div class="projects-container-row" id="project-row2">
      <div class="projects-row-image  project-row2">
        <img src="img/twitch_viewer.png" />
      </div>
      <div class="projects-row-text  project-row2">
        <h4>TWITCH VIEWER</h4>
        <br />
        <br />
        <h5>A small project for the FreeCodeCamp curriculum. <br />
        This is a small web app that uses data from an API from Twitch, a popular gaming streaming service, to view gamers' current streams and info.</h5>
      </div>
    </div>
    <div class="projects-container-row" id="project-row3">
      <div class="projects-row-image  project-row3">
        <img src="img/weather_app.png" />
      </div>
      <div class="projects-row-text project-row3">
        <h4>WEATHER APP</h4>
        <h5>A small web app for the FreeCodeCamp curriculum.
        <br />
        Uses HTML5 geolocation data, and two API's.  The first retrieves the local city fom the geolocation data, and the 2nd the local weather.  Also displays an svg according to current weather.</h5>
      </div>
    </div>
    <div class="projects-container-row" id="project-row4">
      <div class="projects-row-image  project-row4">
        <img src="img/wikipedia_viewer.png" />
      </div>
      <div class="projects-row-text  project-row4">
        <h4>WIKIPEDIA VIEWER</h4>
        <br />
        <h5>Another project for FreeCodeCamp.
        <br />
        This uses the Wikipedia API, and allows you to search through Wikipedia, see the results of your search, and open selected pages from the results.</h5>
      </div>
    </div>
  </div>
</div>
